:root{
  --background: #16161a;
  --text: #94a1b2;
  --text-button: #fffffe;
  --background-button: #7f5af0;
  --title: #fffffe;
}
body {
  margin: 0;
  font-family: 'Rubik',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  color: var(--text-button);
  background: var(--background-button);
  border-radius: .25rem;
  cursor: pointer;
  padding: 1rem 2rem;

}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  min-height: 100vh;
}

.LoginTitle {
  font-size: 4rem;
  font-weight: 300;
  color: var(--title);
}

.LoginButton {
  font-size: 2rem;
}

.Main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nav {
  display: flex;
  font-size: 1.5rem;
  padding: 1rem;
  justify-content: space-between;
}

.NavLink {
  margin: 0 1rem;
}

.LogOutButton {
  font-size: 1.25rem;
  padding: .5rem 1rem;
}

.Navigation {
  display: flex;
  align-items: center;
}

.PageTitle {
  font-size: 3rem;
}